.right-side{
    margin-right: 250px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    padding: 0 !important;
}
div.todolist_list.showactions{
    padding: 0!important;
}

.completed_item{
    background: grey !important;
}

.panel-default>.panel-heading{
    background-color: white !important;
    padding: 5px !important;
}

label.control-label{
    text-align: right !important;
}

@media screen and (max-width: 1322px){
   .right-side {
       margin: auto;
   }
}

@media screen and (max-width: 1322px) and (min-width: 992px){
    .right-side.right-side-order {
        margin-left: 250px;
    }
}

div.category{
    margin: 10px 0;
    text-align: center;
}
label.control-label {
    margin-top: 5px !important;
}
/*.modal { overflow: auto !important; }*/
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: 500px;
    overflow-y: auto;
}
.panel-group{
    margin:0!important;
}

.panel-left-items{
    background-color: transparent!important;
    border: none!important;
}

.panel-left-items:hover{
    background-color: transparent !important;
    border: none!important;
}